
<div class="p-4">
  @for (row of formService.rows(); track row.id) {
    <div
    cdkDropList
    (cdkDropListDropped)="onDropInRow($event,row.id)"
    [cdkDropListOrientation]="'mixed'"
    class="p-5 pt-2 bg-white rounded-lg border-2 border-dashed border-gray-200">

    <div>Row</div>
    <div class="flex gap-4 flex-wrap">
    @for (field of row.fields; track field.id) {
      <!-- <div class="flex-1">{{field.label}}</div> -->
       <app-form-field  [field]="field"/>

    }
    </div>

    </div>
  }

</div>
